html {
  background: rgb(90,103,142);
  background: -moz-linear-gradient(0deg, rgba(90,103,142,1) 0%, rgba(17,24,54,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(90,103,142,1) 0%, rgba(17,24,54,1) 100%);
  background: linear-gradient(0deg, rgba(90,103,142,1) 0%, rgba(17,24,54,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a678e",endColorstr="#111836",GradientType=1);
}

.modal--menu {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.open {
  display: flex !important;
  opacity: 1;
  z-index: 4;
}

.close {
  display: none !important;
}

.sidebar {
  position: fixed;
  width: 300px;
  top: 16px;
  bottom: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar__heading {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.sidebar__heading-logo {
  height: 96px;
}

.sidebar__heading-description {
  margin-top: 20px;
  font-size: 2.0rem;
  font-weight: 700;
}

.sidebar__home {
  display: none;
}

.sidebar__posts-container {
  overflow: auto;
}

.sidebar__post {
  position: relative;
}

.sidebar__post::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__post-title, .sidebar__element {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 20px 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.sidebar__post-title:hover, .sidebar__element:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar__post-list {
  display: flex;
  flex-direction: column;
}

.sidebar__post-list--close {
  display: none !important;
}

.sidebar__post-element {
  list-style-type: none;
  padding: 20px 12px 20px 60px;
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  position: relative;
}

.sidebar__post-element::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  background-color: #c3cde0de;
  top: 24px;
  left: 20px;
  z-index: 1;
}

.sidebar__post-element::after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: #c3cde0de;
  position: absolute;
  left: 23px;
  top: 0;
  z-index: 0;
}

.sidebar__post-element--first::after {
  height: 50%;
  top: 50%;
}

.sidebar__post-element--last::after {
  height: 50%;
}

.sidebar__post-element:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(37, 99, 235);
}

.sidebar__post-element:hover::before {
  background-color: rgb(37, 99, 235);
  transition: background-color 0.2s ease-out;
}

.sidebar__post-element--active {
  color: rgb(29, 78, 216);
}

.sidebar__post-element--active::before {
  background-color: rgb(37, 99, 235);
}

.sidebar__post-element--active::after {
  background-color: rgb(37,99,235);
}

.content {
  padding: 16px 0;
  margin-left: 300px;
}

.content__container {
  width: calc(100% -32px);
  background-color: #fff;
  margin: 0 16px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
}

.content__navbar-item {
  padding: 20px 0px 20px 12px;
  font-weight: 500;
  position: relative;
  font-size: 1.6rem;
}

.content__navbar-item-icon {
  display: inline;
  text-decoration: none;
  margin-left: 8px;
  padding: 8px;
  color: #000;
  border-radius: 100%;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.content__navbar-item-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.content__navbar-item-icon--menu {
  display: none;
}

.content__navbar-item-icon--menu:hover {
  background-color: #fff;
}

.content__navbar-arrow-icon {
  margin-left: 4px;
}

.content__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}

.content__navigator {
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
  transition: opacity 0.2s ease-out;
}

.content__navigator:hover {
  opacity: 0.8;
}

.content__navigator--non-active {
  opacity: 0.7;
  pointer-events: none;
  cursor: default;
}

.content__navigator-icon {
  padding-left: 4px;
  padding-right: 4px;
}

.cotent__container--post {
  position: relative;
}

.content__post {
  padding: 160px 100px 160px 240px;
  color: var(--text-color);
  text-align: justify;
  letter-spacing: 0.5px;
}

.content__post-title {
  font-size: 3.2rem;
  line-height: 4.0rem;
  font-weight: 500;
  color: #000;
}

.content__post-author {
  margin-top: 8px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.content__post-description {
  padding-top: 32px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.content__post-h1 {
  padding-top: 40px;
  padding-bottom: 12px;
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: #000;
}

.content__post-p {
  padding: 12px 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.content__post-quote {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  margin: 24px 0 24px 24px;
  position: relative;
}

.content__post-quote::before {
  content: "";
  height: 100%;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -24px;
  border-radius: 4px;
}

.content__post-list {
  margin: 0;
  padding: 12px 0 12px 20px;
}

.content__post-list-element {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.content__tableofcontent {
  margin-top: 260px;
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.content__tableofcontent-header {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  width: 200px;
}

.content__tableofcontent-element {
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.content__tableofcontent-element:hover {
  color: #2563eb;
  text-decoration: underline;
}

.content__tableofcontent-h1 {
  margin-top: 16px;
}