/** Custom styles */

/** Import San Francisco Font */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/** Import DejaVu Sans Mono Font*/
@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: normal;
  font-weight: normal;
  src: local(DejaVu Sans Mono), local(DejaVuSansMono),
    url(DejaVuSansMono.woff) format("woff");
}

@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: normal;
  font-weight: bold;
  src: local(DejaVu Sans Mono Bold), local(DejaVuSansMono-Bold),
    url(DejaVuSansMono-Bold.woff) format("woff");
}

@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: oblique;
  font-weight: bold;
  src: local(DejaVu Sans Mono Bold Oblique), local(DejaVuSansMono-BoldOblique),
    url(DejaVuSansMono-BoldOblique.woff) format("woff");
}

@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: oblique;
  font-weight: normal;
  src: local(DejaVu Sans Mono Oblique), local(DejaVuSansMono-Oblique),
    url(DejaVuSansMono-Oblique.woff) format("woff");
}

/** Use it */
body {
  font-family: 'Inter', sans-serif;
}

code {
  font-family: 'DejaVu Sans Mono', monospace;
}